.p-4 .list-unstyled a{
    text-decoration: none;
    color: blue;
}

.p-4 .list-unstyled a:hover{
    text-decoration: underline;

}
.saif .forms form{
    margin: 0px 146px 0px 146px;
    padding: 20px;
   
}
/* .Buttons{
    margin: 0px 9px 0px 9px;
} */

footer .nav li a:hover{
    text-decoration: underline;
}